<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>NEXORA</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <resource-ref>
    <description>dd</description>
    <res-ref-name>jdbc/jspdb</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

  <listener>
    <listener-class>member.controller.MemberRetentionListener</listener-class>
  </listener>

  <filter>
    <filter-name>securityThreatFilter</filter-name>
    <filter-class>security.controller.SecurityThreatFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>securityThreatFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  
  <filter>
    <filter-name>incidentFilter</filter-name>
    <filter-class>sentinel.controller.IncidentFilter</filter-class>
  </filter>
  
  <filter-mapping>
    <filter-name>incidentFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>

  <servlet>
    <servlet-name>MemberController</servlet-name>
    <servlet-class>member.controller.MemberController</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>MemberController</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  

  <filter>
    <filter-name>inquiryViewFilter</filter-name>
    <filter-class>inquiry.controller.InquiryViewFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>inquiryViewFilter</filter-name>
    <url-pattern>/inquiry/write.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>inquiryViewFilter</filter-name>
    <url-pattern>/inquiry/index.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>

  <filter>
    <filter-name>boardWriteViewFilter</filter-name>
    <filter-class>board.controller.BoardWriteViewFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>boardWriteViewFilter</filter-name>
    <url-pattern>/board/write.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>

  <filter>
    <filter-name>adminAccessFilter</filter-name>
    <filter-class>admin.controller.AdminAccessFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>adminAccessFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>

  <servlet>
    <servlet-name>BoardController</servlet-name>
    <servlet-class>board.controller.BoardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardController</servlet-name>
    <url-pattern>/board</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BoardController</servlet-name>
    <url-pattern>/board/list</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BoardController</servlet-name>
    <url-pattern>/board/write</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BoardController</servlet-name>
    <url-pattern>/board/detail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BoardController</servlet-name>
    <url-pattern>/board/edit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BoardController</servlet-name>
    <url-pattern>/board/file</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BoardController</servlet-name>
    <url-pattern>/board/create</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BoardController</servlet-name>
    <url-pattern>/board/update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BoardController</servlet-name>
    <url-pattern>/board/delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BoardController</servlet-name>
    <url-pattern>/board/comment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BoardController</servlet-name>
    <url-pattern>/board/comment/delete</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>InquiryController</servlet-name>
    <servlet-class>inquiry.controller.InquiryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InquiryController</servlet-name>
    <url-pattern>/inquiry/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InquiryController</servlet-name>
    <url-pattern>/inquiry/new</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InquiryController</servlet-name>
    <url-pattern>/inquiry/success</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InquiryController</servlet-name>
    <url-pattern>/inquiry/my</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InquiryController</servlet-name>
    <url-pattern>/inquiry/detail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InquiryController</servlet-name>
    <url-pattern>/inquiry/create</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InquiryController</servlet-name>
    <url-pattern>/inquiry/file</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AdminInquiryController</servlet-name>
    <servlet-class>inquiry.controller.AdminInquiryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminInquiryController</servlet-name>
    <url-pattern>/admin/inquiry/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AdminDashboardController</servlet-name>
    <servlet-class>admin.controller.AdminDashboardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDashboardController</servlet-name>
    <url-pattern>/admin/dashboard</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AdminManagementController</servlet-name>
    <servlet-class>admin.controller.AdminManagementController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminManagementController</servlet-name>
    <url-pattern>/admin/members/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminManagementController</servlet-name>
    <url-pattern>/admin/boards/*</url-pattern>
  </servlet-mapping>

  <error-page>
    <error-code>400</error-code>
    <location>/error/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>401</error-code>
    <location>/error/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/error/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/error/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>408</error-code>
    <location>/error/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>409</error-code>
    <location>/error/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>413</error-code>
    <location>/error/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>415</error-code>
    <location>/error/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>429</error-code>
    <location>/error/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>501</error-code>
    <location>/error/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>502</error-code>
    <location>/error/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/error/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>504</error-code>
    <location>/error/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>505</error-code>
    <location>/error/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>507</error-code>
    <location>/error/error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error/error.jsp</location>
  </error-page>

</web-app>
